<h1>User info</h1>
<div>
  <%= image_tag @user.get_profile_image %>
  <h3><%= @user.name %></h3>
  <h3><%= @user.introduction %></h3>
</div>

<h1>New book</h1>
<%= form_with model: @book_new, local:true do |f| %>


<%= f.text_field :title %>


<%= f.text_area :body %>


<%= f.submit "Create Book" %>

<% end %>


<h1>Books</h1>
<% @books.each do |book| %>
  <p><%= book.title %></p>
  <p><%= book.body %></p>
<% end %>
