
<%#@book.userでuser情報を持ってこれる %>

<h1>User info</h1>
<%= @book.user.name %>
<%= @book.user.introduction %>


<h1>New book</h1>
<%= form_with model:@book_new, local:true do |f| %>
  <p>title</p>
  <%= f.text_field :title %>
  <p>opinion</p>
  <%= f.text_area :opinion %>
  <%= f.submit 'Create Book' %>
<% end %>

<h1>Book detail</h1>
<%= @book.user.name %>
<p><%= @book.title %></p>
<p><%= @book.body %></p>
