
<%#@book.userでuserの情報を持ってこれない=>undifined method ~というエラーが出てる %>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h2>User info</h2>
      <%#undefined method `get_profile_image' for nil:NilClass %>
      <%= image_tag @book.user.get_profile_image %>
      <table class="table">
        <tbody>
          <tr>
            <th>name</th>
            <%# undefined method `name' for nil:NilClass %>
            <th><%= @book.user.name %></th>
          </tr>
          <tr>
            <th>introduction</th>
                <%# undefined method `introduction' for nil:NilClass %>
            <th><%= @book.user.introduction %></th>
          </tr>
        </tbody>
      </table>
        <div class="row">
            <%#
            1) [STEP3] 仕上げのテスト 他人の画面のテスト 他人の投稿詳細画面のテスト サイドバーの確認 他人のユーザ編集画面へのリンクが存在する
             Failure/Error: expect(page).to have_link '', href: edit_user_path(other_user)
             expected to find link "" with href "/users/1/edit" but there were no matches
             # ./spec/system/03_finishing_touches_spec.rb:248:in `block (5 levels) in <main>'

            2) [STEP3] 仕上げのテスト 他人の画面のテスト 他人の投稿詳細画面のテスト サイドバーの確認 自分のユーザ編集画面へのリンクは存在しない
             Failure/Error: expect(page).not_to have_link '', href: edit_user_path(user)
             expected not to find visible link "" with href "/users/2/edit", found 1 match: ""
             # ./spec/system/03_finishing_touches_spec.rb:255:in `block (5 levels) in <main>'
            %>

            <%# ↓のcurrent_user.idを@book.user.id にした%>

            <%= link_to  edit_user_path(@book.user.id), class: "btn btn-outline-secondary btn-block" do  %>
              <i class= "fas fa-user-cog"></i>
            <% end %>
        </div>
        <h2 class="mt-3">New book</h2>
          <%= form_with model:@book_new, local:true do |f| %>
            <div class="form-group">
              <label for ="book_title">Title</label>
                <%= f.text_field :title %>
            </div>
            <div class="form-group">
              <label for ="book_opinion">Opinion</label>
                <%= f.text_area :body %>
            </div>
            <div class="form-group">
               <%= f.submit 'Create Book' , class: "btn btn-success"%>
            </div>
          <% end %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
        <table class="table">
          <tbody>
            <tr>
              <td>
                <%# undefined method `id' for nil:NilClass%>
                <%= link_to user_path(@book.user.id) do %>

                 <%#undefined method `get_profile_image' for nil:NilClass %>
                 <%= image_tag @book.user.get_profile_image %><br>


                  <%#undefined method `name' for nil:NilClass %>
                 <%= @book.user.name %>
                <% end %>
              </td>
                <%#文字にlinkをつける方法
                <%= link_to list.title, list_path(list.id) %>
              <td>
                <%= link_to @book.title, book_path(@book.id) %>
              </td>
              <td>
                <%= @book.body %>
              </td>

              <td>
                <div class ="favorite_buttons_<%= @book.id %>">
                 <%= render "favorites/favorites", book: @book %>
                </div>
              </td>

            </tr>
          </tbody>
        </table>

        <table>
           <% @book.book_comments.each do |book_comment| %>
          <tr>
            <td>
               <%= image_tag book_comment.user.get_profile_image %>
               <%= book_comment.user.name %>
            </td>
            <td>
              <%= book_comment.comment %>
            </td>
            <td>

              <%# No route matches {:action=>"destroy", :controller=>"book_comments", :id=>"1"}, missing required keys: [:book_id]%>
              <%# 名前付きルートにidを渡していなかった。 %>

              <%= link_to "Destroy", book_book_comments_path(book_comment.id), method: :delete , class: "btn btn-danger" %>
            </td>
          </tr>
          <% end %>
        </table>

        <div class="comments_area">
          <%= render "book_comments/book_comments", book: @book %>
        </div>
        <%= render "book_comments/book_comments_new", book: @book, book_comment: @book_comments %>

    </div>
</div>
